@font-face {
  font-family: navFont;
  src: url(./assets/fonts/Bowlby_One_SC/BowlbyOneSC-Regular.ttf);
}
/*
  Mess with mom
*/

.spinner {
  animation: spinner 1.2s 1;
}

@keyframes spinner {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

/*
  Mess with Anton
*/

.skewed {
  transform: skew(2deg);
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.App {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  box-shadow: 0 4px 2px -2px gray;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.navbar img {
  max-width: 80px;
}

.navName {
  font-family: navFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.navbar-toggler:focus, .navbar-toggler:active {
  outline: none;
  box-shadow: none;
}

a h2 {
  font-family: navFont, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-decoration: none;
  color: black;
}
a:hover { 
  text-decoration: none !important; 
}

/*
  Calendar formatting
*/

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.skewed {
  transform: skew(4deg);
}

.calendar-header {
  position: relative;
  height: 40px;
  border-bottom: 2px solid gray;
  overflow: hidden;
  text-align: center;
}

.calendar-date {
  padding-top: 5px;
  display: inline-block;
}

.calendar-btn {
  height: 38px;
  padding: 0 15px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  line-height: 32px;
  background-color: white;
  cursor: pointer;
}

.calendar-btn:focus, .calendar-btn:active {
  outline: none;
}

.calendar-btn:active {
  background-color: lightgrey !important;
  outline: none;
}

.calendar-btn-toggle:hover {
  color: black !important;
  background-color: white !important;
}

.calendar-btn-toggle:active {
  color: white !important;
  background-color: black !important;
}

.calendar-day-names,
.calendar-days-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.calendar-day-names {
  border-bottom: 1px solid black;
}

.calendar-day,
.calendar-days {
  width: 14.2%;
  flex-grow: 1;
  text-align: center;
}

.calendar-day, 
.calendar-week {
  padding-top: 10px;
}

.calendar-days {
  height: 60px;
  line-height: 60px;
}

.calendar-days--active, .desc-today {
  line-height: 56px;
  border: 2px solid green;
}

.desc-today, .desc-booked, .desc-booked-self {
  vertical-align: middle;
  display:inline-block;
  height: 25px;
  width: 25px;
  margin-bottom: 3px;
}

.calendar-days--prev-month,
.calendar-days--next-month {
  color: gray;
}

.calendar-week {
  width:100%;
}

.calendar-week-nr {
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.calendar-clickable {
  cursor: pointer;
}

.calendar-booked, .desc-booked {
  background-color: #606cbc88;
}

.calendar-booked-unavailable {
  background: repeating-linear-gradient(
    45deg,
    #606cbc88,
    #606cbc88 5px,
    #46529891 5px,
    #46529891 10px
  );
}

.calendar-unavailable {
  background: repeating-linear-gradient(
    45deg,
    #00000023,
    #00000023 5px,
    #02030533 5px,
    #02030533 10px
  );
}

.calendar-booked-self, .desc-booked-self {
  background-color: rgba(0, 128, 0, 0.61);
}

.calendar-booked-self-unavailable {
  background: repeating-linear-gradient(
    45deg,
    lightgreen,
    lightgreen 5px,
    #00ff0d4b 5px,
    #00ff0d4b 10px
  );
}

.calendar-clicked {
  background-color: rgba(0, 255, 21, 0.151);
}

.calendar-remove {
  background-color: rgba(255, 37, 37, 0.356);
}

/*
  Animation for RV across the screen
*/

#rv {
  position: absolute;
  width: 25vw;
  left: -30vw;
  z-index: 10;
  cursor: pointer;
}

.rv {
  -webkit-animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: moveright;
  -moz-animation-duration: 5s;
  -moz-animation-name: moveright;
  -moz-animation-iteration-count: 1;
  animation-duration: 5s;
  animation-name: moveright;
  animation-iteration-count: 1;
}

@-webkit-keyframes moveright {
  from {
    -webkit-transform: translate(0,0);
  }

  to {
    -webkit-transform: translate(200vw,0);
  }
}

@-moz-keyframes moveright {
  from {
    -moz-transform: translate(0,0);
  }

  to {
    -moz-transform: translate(200vw,0);
  }
}

@keyframes moveright {
  from {
    -webkit-transform: translate(0,0);
    transform: translate(0,0);
  }

  to {
    -webkit-transform: translate(200vw,0);
    transform: translate(200vw,0);
  }
}

/*
  Admin page
*/

.kill-button:hover {
  cursor: pointer;
}


/*
  Loading stage before render
*/
.ripple {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
  width: 80px;
  height: 80px;
  z-index: 3;
}
.ripple div {
  position: absolute;
  border: 4px solid rgb(0, 0, 0);
  opacity: 1;
  border-radius: 50%;
  animation: ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.invisible {
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 150%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

/*
  Admin
*/

.userList {
  line-height: 38px;
}